<h1>About this project</h1>
This project aims to create a dynamic blog website centered around cyberpunk themes. It utilizes Express.js and EJS templates to provide users with two distinct routes: a general route for viewing articles and an admin route for CRUD (Create, Read, Update, Delete) operations. The admin route is protected with a login system requiring a hardcoded username and password for access.

<h3>Instructions for Use:</h3>

Accessing the Website:<br>

To access the website, navigate to localhost:5000.<br>
This will take you to the general route of the website, where you can view cyberpunk-themed articles.<br>
Accessing Admin Functionality:<br>

To access CRUD functionalities and manage the website content, navigate to localhost:5000/admin.<br>
This will direct you to the admin route of the website, where you can perform CRUD operations.<br>
Login Credentials:<br>

Upon accessing the admin route (localhost:5000/admin), you will be prompted to log in.<br>
Use the following hardcoded credentials:<br>
Username: admin<br>
Password: password<br>
Admin Dashboard:<br>

After successful login, you will be directed to the admin dashboard.<br>
Here, you will find options for performing CRUD operations on articles, including creating new articles, viewing existing articles, updating article content, and deleting articles.<br>
CRUD Operations:<br>

Create: Click on the "+Add new article " button to create a new article. Fill in the required fields such as title, content, and any relevant tags.<br>
Read: Existing articles will be displayed on the admin dashboard. Click on individual articles to view their details.<br>
Update: To edit an existing article, click on the "Edit" button next to the article you wish to modify. Make the necessary changes and save.<br>
Delete: To remove an article from the website, click on the "Delete" button next to the article you wish to delete. Confirm the deletion when prompted.<br>
Logout:<br>

To logout from the admin route, simply close the browser or navigate away from the admin page.<br>